
<a href="/home">Bright Ideas</a>
<a href="/logout"> Log Out</a>

<p>Name: @ViewBag.Posts.User.FName</p>
<p>Post: </p>

<h3>People who liked this post:</h3>

<hr>
<p>Total Number of Posts:@ViewBag.Posts.Count</p>
<p>Total Number of Likes: @ViewBag.Posts.User.Likes.Count</p>
@foreach (var like in ViewBag.likes) {
    <p>@ViewBag.Posts.Users.FName</p>
   <p>@ViewBag.Posts.Users.FName  @ViewBag.Posts.Users.LName</p>
    
}


