
<a href="/home">Bright Ideas</a>
<a href="/logout"> Log Out</a>

<p>Name: @ViewBag.Users.FName @ViewBag.LName</p>
<p>Alias: @ViewBag.Users.FName</p>
<p>Email: @ViewBag.Users.Email</p>

<hr>
<p>Total Number of Posts:</p>
<p>Total Number of Likes: @ViewBag.Users.Likes.Count</p>


