@{
    ViewData["Title"] = "Home Page";
}



<h2>Current Auctions</h2>
<h6>Hi, @ViewBag.FName</h6> 
<h6><a href="/logout"> Log Out</a></h6>

<hr>

<Table class="table table-bordered">
    <tr>
        
        <td>Product</td>
        <td>Seller</td>
        <td>Description</td>
        <td>Top Bid</td>
        <td>Time Remaining </td>
        <td></td>
    
    </tr>
    <text>
    
        @foreach (var belt3 in ViewBag.Belt3s)
        {
            <tr>
                
                <td><a href="/showBelt3/@belt3.Belt3Id">@belt3.Belt3stg1</a> </td>
                <td>@belt3.User.FName</td>
                <td>@belt3.Belt3stg2 </td>
                <td>@belt3.Belt3int1</td>
                <td>@belt3.Belt3int2 Days</td>

                @if (ViewBag.sessuserid == belt3.UserId) {
                    <td><a href="/deleteBelt3/@belt3.Belt3Id">Delete</a></td>
                }

            </tr>
        }
    
    </text>
</Table>

<p>Your Current Wallet: $@ViewBag.sessUserwallet</p>

<a href="/addbelt3Form">New Auction</a><br><br>




