<h3>Welcome, @ViewBag.FName</h3> 
<h6><a href="/logout"> Log Out</a></h6>
<h6><a href="/Home"> Home</a></h6>


<p>User Name:  @ViewBag.User.FName  @ViewBag.User.LName </p>
<p>User Email: @ViewBag.User.Email</p>

<hr>

<p>User Total Belt3s:  @ViewBag.User.Belt3s.Count </p>
<p>User Total MtoMs: @ViewBag.User.MtoM.Count</p>


