@{
    ViewData["Title"] = "Show Trail Page";
}

<h1>@ViewBag.trail.Name</h1>

<h3>Description: </h3>
<p>@ViewBag.trail.Descrip</p>

<h3>Trail Length:<br></h3>
<p>@ViewBag.trail.Length Miles</p>

<h3>Elevation change:<br></h3>
<p>@ViewBag.trail.ElevChg feet</p>


<p>Longitute: @ViewBag.trail.Longitude </p>
<p>Latitude:  @ViewBag.trail.Latitude </p>
