    <h1>Dojo Activity Center</h1>
    <p><a href="home"> Home</a></p>
    <p><a href="logout"> Log Off</a></p>
    <p>Welcome @ViewBag.FName!</p>
    <hr><br>

    <h4>@ViewBag.CurrActivity.Title</h4>

    <p>Event Coordinator: @ViewBag.CurrActivity.EventCoordFName</p>

    <p>@ViewBag.CurrActivity.Descrip</p>

    <h3>Participants:</h3>
    @{
        foreach (var participant in @ViewBag.CurrActivity.Participants){
             <p>@participant.User.FName @participant.User.LName </p>
        } 
    }

    @if (ViewBag.sessuserid == @ViewBag.CurrActivity.UserId) {
        <td><a href="deleteActivity/@ViewBag.CurrActivity.ActivityId">Delete</a></td>
    } else {
        @if (ViewBag.CurrActivity.Participants.Count > 0) {
            var unJoin = false;
            @foreach (var participant in ViewBag.CurrActivity.Participants) {
                @if (participant.Userid == ViewBag.sessuserid) {
                    <td><a href="deleteParticipant/@participant.ParticipantId">Un-Join</a></td>
                    unJoin = true;
                }
            }
            if (!unJoin) {
                <td><a href="addParticipant/@ViewBag.CurrActivity.ActivityId">Join</a></td>
            }
        } else {
            <td><a href="addParticipant/@ViewBag.CurrActivity.ActivityId">Join</a></td>
        }
    }   
